.home {
    position: absolute;
    left: 2%;
    top: 2%;
    color: #444;
}

.home:hover {
    text-decoration: none;
}

.cnt {
    width: 50%;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

li + li {
    margin-top: 10px;
}
